.user-container {
  padding: 20px; 
  margin: 30px auto; 
  width: 100%;
  max-width: 1200px; 
  background-color: #ffffff;
  border-radius: 12px; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  font-family: 'Outfit', sans-serif;
  color: #333;
}

.user-container h3 {
  margin-bottom: 25px;
    font-size: 28px;
    font-weight: 600;
    color: #333;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 15px;
}

.user-table {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.user-table b{
  font-weight: bold;
  font-size: 16px;
}

.user-row {
  display: grid;
  grid-template-columns: 0.3fr 1fr 2fr 1fr 1.5fr 1fr 1fr 1fr;
  align-items: center;
  gap: 20px;
  padding: 15px 20px;
  font-size: 14px;
  border-radius: 8px;
}

.user-header {
  font-weight: 600;
  background-color: #f7f7f7;
  border: 1px solid #e0e0e0;
}

.user-item {
  border: 1px solid #e0e0e0;
  background-color: #fcfcfc;
  transition: all 0.2s ease-in-out;
}

.user-item:hover {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
  transform: translateY(-2px);
}
.pagination {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
}

.pagination button {
  padding: 6px 12px;
  border: 1px solid #d1d1d1;
  border-radius: 6px;
  background-color: #fcfcfc;
  cursor: pointer;
}

.pagination button.active {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

