.voucher-container {
  padding: 20px; 
  margin: 30px auto; 
  width: 100%;
  max-width: 1200px; 
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
  font-family: 'Outfit', sans-serif;
  color: #333;
}

.voucher-container h3 {
  margin-bottom: 25px;
    font-size: 28px;
    font-weight: 600;
    color: #333;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 15px;
}

/* Form tạo voucher */
.voucher-form {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.voucher-form input {
  flex: 1;
  min-width: 150px;
  padding: 10px 14px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
}

.voucher-form button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.2s;
}

.voucher-form button:hover {
  background-color: #43a047;
}

/* Bảng voucher */
.voucher-table {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.voucher-row {
  display: grid;
  grid-template-columns: 0.3fr 1.2fr 1fr 1fr 1.2fr 1.2fr 1fr 0.8fr;
  align-items: center;
  gap: 20px;
  padding: 15px 20px;
  font-size: 14px;
  border-radius: 8px;
}

.voucher-header {
  font-weight: 600;
  background-color: #f7f7f7;
  border: 1px solid #e0e0e0;
}
.voucher-header b{
  font-weight: bold;
  font-size: 16px;
}

.voucher-item {
  border: 1px solid #e0e0e0;
  background-color: #fcfcfc;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.voucher-item:hover {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
  transform: translateY(-2px);
}

/* Nút xóa */
.delete-btn {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.delete-btn:hover {
  background-color: #c0392b;
}

/* Responsive */
@media (max-width: 900px) {
  .voucher-container {
    padding: 20px;
  }
  .voucher-row {
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 12px;
  }
  .voucher-header {
    display: none;
  }
  .voucher-item p {
    display: block;
    font-size: 13px;
  }
  .delete-btn {
    width: fit-content;
  }
}
