@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
}
/* ✅ thêm */
html, body, #root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* ✅ thêm */
main {
  flex: 1;
}

a{
  text-decoration: none;
  color: inherit;
}
.app{
  width: 80%;
  margin: auto;
}
hr{
  border: none;
  height: 1px;
  background-color: #a9a9a9;
}
.app-content{
  display: flex;

}

.flex-col{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.app-admin-pages{
  width: 100%;
}

.cursor{
  cursor: pointer;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}